<div class="freelancer-create">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Создать нового фрилансера</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item">
                            <a href="/">Главная</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="/freelancers">Фрилансеры</a>
                        </li>
                        <li class="breadcrumb-item active">Создание</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <section class="content">
        <div class="container-fluid">
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Создание фрилансера</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <div class="form-group row">
                        <label for="nameInput" class="col-md-3 col-form-label">Имя</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" id="nameInput"
                                   placeholder="Введите имя">
                            <span id="nameInput-error"
                                  class="error invalid-feedback">Пожалуйста заполните поле</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="lastNameInput" class="col-md-3 col-form-label">Фамилия</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" id="lastNameInput"
                                   placeholder="Введите фамилию">
                            <span id="lastNameInput-error"
                                  class="error invalid-feedback">Пожалуйста заполните поле</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="emailInput" class="col-md-3 col-form-label">E-mail</label>
                        <div class="col-md-9">
                            <input type="email" class="form-control" id="emailInput"
                                   placeholder="Введите e-mail">
                            <span id="emailInput-error"
                                  class="error invalid-feedback">Введите корректный e-mail</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="educationInput" class="col-md-3 col-form-label">Образование</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" id="educationInput"
                                   placeholder="Образование">
                            <span id="educationInput-error"
                                  class="error invalid-feedback">Пожалуйста заполните поле</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="locationInput" class="col-md-3 col-form-label">Местонахождение</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" id="locationInput"
                                   placeholder="Местонахождение">
                            <span id="locationInput-error"
                                  class="error invalid-feedback">Пожалуйста заполните поле</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="skillsInput" class="col-md-3 col-form-label">Навыки</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" id="skillsInput"
                                   placeholder="Навыки">
                            <span id="skillsInput-error"
                                  class="error invalid-feedback">Пожалуйста заполните поле</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="infoInput" class="col-md-3 col-form-label">Информация</label>
                        <div class="col-md-9">
                                <textarea class="form-control" id="infoInput"
                                          placeholder="Информация"></textarea>
                            <span id="infoInput-error"
                                  class="error invalid-feedback">Пожалуйста заполните поле</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="selectLevel" class="col-md-3 col-form-label">Уровень</label>
                        <div class="col-md-9">
                            <select class="form-control" id="selectLevel">
                                <option value="junior" selected>Junior</option>
                                <option value="middle">Middle</option>
                                <option value="senior">Senior</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-3">
                            <label for="avatarInput" class="col-form-label">Аватар</label>
                        </div>
                        <div class="col-md-9 ">
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="avatarInput">
                                <label class="custom-file-label" for="avatarInput">Выбор файла</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="offset-md-3 col-md-9">
                            <button type="button" class="btn btn-danger" id="saveButton">Сохранить</button>
                        </div>
                    </div>
                </div>
                <!-- /.card-body -->
            </div>
        </div>
    </section>
</div>