.orders {
    .order-tools {
        display: flex;
        flex-direction: row;
        gap: 5px;
        justify-content: space-between;
        align-items: center;
    }
}

.order-form {
    .bootstrap-datetimepicker-widget .picker-switch a {
        color: #fff;
    }
}